
 
body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #0a2ab9;
  background-color: #919bc7;

}



        
/* Displays navigationn bar information */
 #navBar {
  display: flex;
  flex-direction: row;
  margin: 0px;
  background-color: #2E86C1;
  
}

#navBar h1  {
  width: 70%;
  font-weight: 500; 
 }

 #navigation {
  display: flex;
  width: 40%;
  align-items: left;
  flex-wrap: nowrap;
  justify-content: space-evenly; 
}

.first-project{

  background-color: rgb(78, 140, 235);
  font-size:25px;

}

.card {

  background-color: #919bc7

}
/* contact me page */

#contact-me {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size:30px;
  font-weight: 200;
  color: white;
  align-items: left;
  justify-content:space-evenly;
  background-color: #0629c4;
  border-style: solid;
  border-color: #0a2ab9;
  

}
   
h1, 
h2,
h3,
h4,
h6 {
  margin: 0;
  color:blue
} 


h2{

font-size: 30px;

}
p {
  margin: 0;
}


.my-story{
width: 50%;
background-color: rgb(78, 140, 235);
color: #0a2ab9;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 25px;

}